<style>
    /** 卡片轮播图样式 */
    .admin-carousel .layui-carousel-ind {
        position: absolute;
        top: -41px;
        text-align: right;
    }

    .admin-carousel .layui-carousel-ind ul {
        background: 0 0;
    }

    .admin-carousel .layui-carousel-ind li {
        background-color: #e2e2e2;
    }

    .admin-carousel .layui-carousel-ind li.layui-this {
        background-color: #999;
    }

    /** 广告位轮播图 */
    .admin-news .layui-carousel-ind {
        height: 45px;
    }

    .admin-news a {
        display: block;
        line-height: 60px;
        text-align: center;
    }

    .count-data {
        width: 100%;
        margin: 0px;
        min-height: 490px
    }

</style>
<style>
    /** 统计快捷方式样式 */
    .console-link-block {
        display: block;
        position: relative;
        color: #fff;
        font-size: 18px;
        padding: 25px 20px;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, .15);
        background-color: rgb(155, 197, 57);
    }

    .console-link-block .console-link-block-num {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .console-link-block .console-link-block-icon {
        height: 70px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .console-link-block .console-link-block-band {
        background-color: rgb(227, 42, 22);
        font-size: 14px;
        position: absolute;
        width: 80px;
        padding: 2px 0;
        text-align: center;
        transform: rotate(45deg);
        right: -21px;
        top: 8px;
        color: rgba(255, 255, 255, .9);
    }

    /** //统计快捷方式样式end */

    /** 设置每个快捷块的颜色 */
    #consoleLink > div:first-child .console-link-block {
        background-color: rgb(155, 197, 57);
    }

    #consoleLink > div:nth-child(2) .console-link-block {
        background-color: rgb(85, 165, 234);
    }

    #consoleLink > div:nth-child(3) .console-link-block {
        background-color: rgb(157, 175, 291);
    }

    #consoleLink > div:nth-child(4) .console-link-block {
        background-color: rgb(245, 145, 162);
    }

    #consoleLink > div:nth-child(5) .console-link-block {
        background-color: rgb(254, 170, 79);
    }

    #consoleLink > div:last-child .console-link-block {
        background-color: rgb(64, 212, 176);
    }

    /** //设置每个快捷块的颜色end */
</style>

<!-- 正文开始 -->
<div class="layui-fluid">

    <!-- 快捷方式 -->
    <div id="consoleLink" class="layui-row layui-col-space15">
        <div class="layui-col-lg2 layui-col-md4 layui-col-sm6 layui-col-xs12">
            <div class="console-link-block" ew-href="page/system/user.html" ew-title="外出申请">
                <div class="console-link-block-num">15</div>
                <div class="console-link-block-text">外出申请</div>
                <div class="console-link-block-band">待审批</div>
                <img class="console-link-block-icon" src="__ADMIN__/images/homepic1.png">
            </div>
        </div>
        <div class="layui-col-lg2 layui-col-md4 layui-col-sm6 layui-col-xs12">
            <div class="console-link-block" ew-href="page/system/role.html" ew-title="请假审批">
                <div class="console-link-block-num">13</div>
                <div class="console-link-block-text">请假审批</div>
                <div class="console-link-block-band">待审批</div>
                <img class="console-link-block-icon" src="__ADMIN__/images/homepic2.png">
            </div>
        </div>
        <div class="layui-col-lg2 layui-col-md4 layui-col-sm6 layui-col-xs12">
            <div class="console-link-block" ew-href="page/system/authorities.html" ew-title="研发周报">
                <img class="console-link-block-icon" src="__ADMIN__/images/homepic3.png">
                <div class="console-link-block-num">22</div>
                <div class="console-link-block-text">研发周报</div>
                <div class="console-link-block-band">去查看</div>
            </div>
        </div>
        <div class="layui-col-lg2 layui-col-md4 layui-col-sm6 layui-col-xs12">
            <div class="console-link-block" ew-href="page/system/loginRecord.html" ew-title="研发月报">
                <img class="console-link-block-icon" src="__ADMIN__/images/homepic4.png">
                <div class="console-link-block-num">18</div>
                <div class="console-link-block-text">研发月报</div>
                <div class="console-link-block-band">去查看</div>
            </div>
        </div>
        <div class="layui-col-lg2 layui-col-md4 layui-col-sm6 layui-col-xs12">
            <div class="console-link-block" ew-href="page/plugin/dialog.html" ew-title="拜访记录">
                <img class="console-link-block-icon" src="__ADMIN__/images/homepic5.png">
                <div class="console-link-block-num">11</div>
                <div class="console-link-block-text">拜访记录</div>
                <div class="console-link-block-band">去查看</div>
            </div>
        </div>
        <div class="layui-col-lg2 layui-col-md4 layui-col-sm6 layui-col-xs12">
            <div class="console-link-block" ew-href="page/plugin/notice.html" ew-title="项目申报">
                <img class="console-link-block-icon" src="__ADMIN__/images/homepic6.png">
                <div class="console-link-block-num">26</div>
                <div class="console-link-block-text">项目申报</div>
                <div class="console-link-block-band">待审批</div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-lg8 layui-col-md7">
            <div class="layui-card">
                <div class="layui-card-header">图标统计</div>
                <div class="layui-card-body">
                    <div class="count-data" id="larryCount3">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-lg4 layui-col-md5">
            <div class="layui-card">
                <div class="layui-card-header">前端框架</div>
                <div class="layui-card-body">
                    <table class="layui-table layui-text">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>基础框架</td>
                            <td><a href="http://www.layui.com/" target="_blank">layui-v2.4.5</a></td>
                        </tr>
                        <tr>
                            <td>JS框架</td>
                            <td>
                                核心JS类库（基于<a href="http://www.rxthink.cn/" target="_blank">Layui</a>进行底层封装）
                            </td>
                        </tr>
                        <tr>
                            <td>主要特色</td>
                            <td>低耦合 / 响应式 / 简约 / 易上手</td>
                        </tr>
                        <tr>
                            <td>获取源码</td>
                            <td>
                                <a href="http://www.rxthink.cn/" target="_blank" class="layui-btn layui-btn-sm">前往官网</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">后台框架</div>
                <div class="layui-card-body">
                    <table class="layui-table layui-text">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>核心框架</td>
                            <td>ThinkPHP5.1</td>
                        </tr>
                        <tr>
                            <td>持久层</td>
                            <td>Redis缓存</a>
                            </td>
                        </tr>
                        <tr>
                            <td>设计模式</td>
                            <td>MVC</td>
                        </tr>
                        <tr>
                            <td>其他</td>
                            <td>IDEA(开发工具)、MySQL(数据库)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">友情链接</div>
                <div class="layui-card-body">
                    <div class="layui-carousel admin-carousel admin-news">
                        <div carousel-item>
                            <div>
                                <a href="http://www.layui.com/" target="_blank" class="layui-bg-green">
                                    layui - 经典模块化前端框架
                                </a>
                            </div>
                            <div>
                                <a href="http://fly.layui.com/extend/" target="_blank" class="layui-bg-cyan">
                                    layui第三方组件平台
                                </a>
                            </div>
                            <div>
                                <a href="http://fly.layui.com/case/2018/" target="_blank" class="layui-bg-blue">
                                    发现layui年度最佳案例
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN__/lib/extend/echarts/echarts.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/extend/echarts/theme/macarons.js"></script>
<!--<script>-->
<!--    layui.use(['layer', 'carousel'], function () {-->
<!--        var $ = layui.jquery;-->
<!--        var layer = layui.layer;-->
<!--        var carousel = layui.carousel;-->
<!--        var device = layui.device;-->

<!--        // 渲染轮播-->
<!--        carousel.render({-->
<!--            elem: '.layui-carousel',-->
<!--            width: '100%',-->
<!--            height: '60px',-->
<!--            arrow: 'none',-->
<!--            autoplay: true,-->
<!--            trigger: device.ios || device.android ? 'click' : 'hover',-->
<!--            anim: 'fade'-->
<!--        });-->
<!--    });-->
<!--</script>-->